.contact-wrapper {
  width: 100%;
  padding: 150px 201px;

  @include for-phone {
    padding: 50px 10px;
  }
  @include for-tablet {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contact {
  background-color: #f8e1db;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;

  border-radius: 20px;

  @include for-phone {
    justify-content: center;
    padding: 0 20px;
    border-radius: 20px;
    flex-direction: column-reverse;
  }
  @include for-tablet {
    justify-content: center;
    text-align: center;

    border-radius: 20px;
    flex-direction: column-reverse;
  }

  &__text {
    width: 616px;
    @include for-phone {
      width: 100%;
      text-align: center;
    }

    &__title {
      color: $colorBlack;
      font-size: 40px;
      font-weight: bold;
    }
    &__desc {
      color: $colorBlack;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      padding: 20px 5px;
      line-height: 25px;
      width: 486px;
      text-align: left;
      @include for-phone {
        width: 100%;
        text-align: center;
      }
      @include for-tablet {
        width: 100%;
        text-align: center;
      }
    }
    &__form {
      position: relative;
      @include for-tablet {
        width: 80%;
        margin: 0 auto;
      }

      .icon-envelope {
        position: absolute;
        top: 18px;
        left: 18px;
        font-size: 20px;
        color: grey;
      }
      .icon-plane {
        right: 20px;
        top: 13px;
        padding: 10px;
        background-color: $colorOrange;
        border-radius: 20px;
        color: white;
        position: absolute;
      }

      &__input {
        width: 100%;

        padding: 20px 40px;
        border-radius: 20px;
        border: none;
        outline: none;
      }
    }
  }
  &__image {
    padding: 40px 0;

    svg {
      width: 467px;
      height: 351px;
      @include for-phone {
        width: 341px;
        height: 257px;
      }
    }
  }
}
