
  


  @mixin styledBtn{
    font-size: 18px;
    background-color: transparent;
    padding: 10px 20px;
   color: white;
    border-radius: 50px;
    margin: 0 10px;
    outline: none;
  }
  .active-btn{
    border: 1px solid white;
  }
  @mixin box($width, $height) {
    width: $width;
    height: $height;
  }

  @mixin flex-column {
    display: flex;
    flex-direction: column;
  }
  
  @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
  }
  
  @mixin flex-center-vert {
    display: flex;
    align-items: center;
  }
  
  @mixin flex-center-horiz {
    display: flex;
    justify-content: center;
  }
  @mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @mixin fade($type) {
    @if $type== "hide" {
     display: none;
     
    } @else if $type== "show" {
      display: block;
   
    } @else if $type== "flex" {
      display: flex;
     
    }
  }